.flows_pdemu1cml000027.json.backup
[{"id":"e0fd0d01.d7888","type":"tab","label":"Aggrobot 2","disabled":false,"info":""},{"id":"c7b7d783.53fee8","type":"tab","label":"Agrobot 1","disabled":false,"info":""},{"id":"8a563818.503348","type":"tab","label":"Fleetmanagement","disabled":false,"info":""},{"id":"60c8381.16387c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bde280ba.ab4a4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#4b7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#4b7930","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c202bf1d.62318","type":"ui_tab","z":"","name":"Fleetmanagement","icon":"class","order":1},{"id":"40cdd27e.3092fc","type":"ui_tab","z":"","name":"Aggrobot 1","icon":"bug_report","order":2},{"id":"edf9eb20.4169a8","type":"ui_group","z":"","name":"Weatherforecast","tab":"c202bf1d.62318","order":1,"disp":true,"width":"20","collapse":false},{"id":"90d65a3a.b70c58","type":"ui_group","z":"","name":"Fleet","tab":"c202bf1d.62318","order":2,"disp":true,"width":"10","collapse":false},{"id":"6b2f176f.17ce18","type":"ui_group","z":"","name":"Robot Visualization","tab":"40cdd27e.3092fc","order":3,"disp":true,"width":"10","collapse":false},{"id":"53f9b7c0.af56c8","type":"mqtt-broker","z":"","name":"mqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"77bd1383.76e9fc","type":"ui_group","z":"","name":"Environment","tab":"40cdd27e.3092fc","order":2,"disp":true,"width":"10","collapse":false},{"id":"568c8594.ccbcbc","type":"ui_group","z":"","name":"Map","tab":"40cdd27e.3092fc","order":6,"disp":true,"width":"10","collapse":false},{"id":"e06e7df2.46619","type":"ui_group","z":"","name":"Supervision","tab":"40cdd27e.3092fc","order":4,"disp":true,"width":"10","collapse":false},{"id":"be62ea53.564688","type":"ui_group","z":"","name":"header","tab":"40cdd27e.3092fc","order":1,"disp":false,"width":"20","collapse":false},{"id":"4784a9e9.9bdee8","type":"mqtt-broker","z":"","name":"test mosquitto","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5497e2d8.f0142c","type":"ui_group","z":"","name":"Farm","tab":"c202bf1d.62318","order":3,"disp":true,"width":"10","collapse":false},{"id":"ea9a4ea6.baf2c8","type":"ui_link","z":"","name":"Aggrobot 2","link":"","icon":"bug_report","target":"newtab","order":5},{"id":"39079bd8.6c1f94","type":"ui_group","z":"","name":"Robot Control","tab":"40cdd27e.3092fc","order":5,"disp":true,"width":"10","collapse":false},{"id":"1cf32c06.86de04","type":"ui_link","z":"","name":"Aggrobot 3","link":"","icon":"bug_report","target":"newtab","order":4},{"id":"9ab13b2b.19f068","type":"ui_link","z":"","name":"Aggrobot 4","link":"","icon":"bug_report","target":"newtab","order":5},{"id":"1cb490d5.03fddf","type":"debug","z":"8a563818.503348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":340,"wires":[]},{"id":"648fb302.2b49cc","type":"ui_gauge","z":"c7b7d783.53fee8","name":"speed","group":"be62ea53.564688","order":3,"width":"5","height":"3","gtype":"gage","title":"Speed","label":"km/h","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":200,"wires":[]},{"id":"c9e25eba.c9225","type":"ui_chart","z":"c7b7d783.53fee8","name":"Temperature","group":"77bd1383.76e9fc","order":0,"width":"5","height":"3","label":"Temperature","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"28","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":60,"wires":[[],[]],"inputLabels":["timestamp"]},{"id":"bd6a69fa.e19638","type":"json","z":"c7b7d783.53fee8","name":"json conv","property":"payload","action":"","pretty":false,"x":360,"y":60,"wires":[["4b48e54e.27c6fc","ddd08b17.62c2e8","345250b2.4ba7e","2e508e23.c7af72","1162acc6.5b05f3","8117887e.2eea38"]]},{"id":"4b48e54e.27c6fc","type":"function","z":"c7b7d783.53fee8","name":"temperature","func":"msg.payload = msg.payload.temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":60,"wires":[["c9e25eba.c9225"]]},{"id":"ddd08b17.62c2e8","type":"function","z":"c7b7d783.53fee8","name":"humidity","func":"msg.payload = msg.payload.hum;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["75ce5aaf.825204"]]},{"id":"75ce5aaf.825204","type":"ui_chart","z":"c7b7d783.53fee8","name":"Humidity","group":"77bd1383.76e9fc","order":0,"width":"5","height":"3","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":120,"wires":[[],[]]},{"id":"3ed060c8.bb6b","type":"function","z":"c7b7d783.53fee8","name":"Speed","func":"msg.payload = msg.payload.speed;\nmsg.payload = Math.round(msg.payload*1000)/1000.0;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["648fb302.2b49cc"]]},{"id":"8112a189.9258d","type":"ui_text","z":"c7b7d783.53fee8","group":"be62ea53.564688","order":2,"width":"5","height":"3","name":"Status","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":770,"y":260,"wires":[]},{"id":"bb07d510.2ebae8","type":"function","z":"c7b7d783.53fee8","name":"status","func":"if (global.get(\"state\") == \"Standing\") {\n    msg.payload = \"Standing\";\n} else {\n    msg.payload = \"Driving\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["8112a189.9258d"]]},{"id":"85685792.681558","type":"worldmap","z":"c7b7d783.53fee8","name":"Map","lat":"28.011855","lon":"-15.569275","zoom":"10","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":730,"y":580,"wires":[]},{"id":"3c30734f.334aec","type":"function","z":"c7b7d783.53fee8","name":"Position","func":"msg.payload.command = {\n    name:\"Agrobot 1\", \n    lat:28.134699, \n    lon:-15.572897,\n    icon:\"hostile\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":580,"wires":[["85685792.681558"]]},{"id":"ec2366a9.444278","type":"ui_template","z":"c7b7d783.53fee8","group":"be62ea53.564688","name":"Weather data","order":4,"width":"5","height":"3","format":"<div layout=\"row\" layout-align=\"space-between\">\n<img src=\"/weather.png\" />\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":800,"y":420,"wires":[[]]},{"id":"ffe0e7dc.4dc8a8","type":"ui_gauge","z":"c7b7d783.53fee8","name":"","group":"e06e7df2.46619","order":2,"width":"5","height":"3","gtype":"gage","title":"Seeds dropped","label":"","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":660,"wires":[]},{"id":"2a7cd028.daba1","type":"ui_gauge","z":"c7b7d783.53fee8","name":"","group":"e06e7df2.46619","order":3,"width":"5","height":"3","gtype":"gage","title":"Battery level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":740,"wires":[]},{"id":"7f9ae4ba.ffc9ec","type":"ui_gauge","z":"c7b7d783.53fee8","name":"","group":"e06e7df2.46619","order":4,"width":"5","height":"3","gtype":"gage","title":"Distance travelled","label":"km","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":700,"wires":[]},{"id":"6926ae76.8e50a","type":"mqtt out","z":"60c8381.16387c8","name":"","topic":"Agrobot/Sensors","qos":"","retain":"","broker":"4784a9e9.9bdee8","x":770,"y":400,"wires":[]},{"id":"894668b3.deb758","type":"function","z":"60c8381.16387c8","name":"random msg","func":"id = msg.payload;\npayload = {\n\t\"id\": id,\n\t\"temperature\": Math.random()*4.0+20.5,\n\t\"humidity\": Math.random()*65.0+16.0,\n\t\"magnetX\": Math.random()*20.0+100.0,\n\t\"magnetY\": Math.random()*20.0+100.0,\n\t\"magnetZ\": Math.random()*20.0+100.0,\n\t\"orientation\": Math.random()<0.95 ? \"standing\" : \"flipped\",\n\t\"gyroX\": Math.random()*20.0+100.0,\n\t\"gyroY\": Math.random()*20.0+100.0,\n\t\"gyroZ\": Math.random()*20.0+100.0,\n\t\"frontsensor\": Math.random()*20.0,\n    \"distance\": (id%10000)/100.0,\n    \"curve\": 0,\n    \"speed\": Math.random()*4.5+4.9,\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["67e9fcf4.f5db54"]]},{"id":"67e9fcf4.f5db54","type":"json","z":"60c8381.16387c8","name":"","property":"payload","action":"","pretty":false,"x":510,"y":400,"wires":[["6926ae76.8e50a"]]},{"id":"8a1dcfc5.2dfba","type":"ui_template","z":"c7b7d783.53fee8","group":"568c8594.ccbcbc","name":"map","order":0,"width":"10","height":"6","format":"<iframe src=\"../worldmap\" style=\"height:100%\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":610,"y":420,"wires":[[]]},{"id":"9556dd4b.6f853","type":"inject","z":"c7b7d783.53fee8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":580,"wires":[["3c30734f.334aec","c0eb2c21.7ede","34701c90.6b5814","f439b56b.7f53d8"]]},{"id":"9b346350.d3457","type":"ui_template","z":"8a563818.503348","group":"edf9eb20.4169a8","name":"Weather data","order":2,"width":"15","height":"3","format":"<div layout=\"row\" layout-align=\"space-between\">\n<img src=\"/weather-forecast.png\" />\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":520,"y":60,"wires":[[]]},{"id":"1eed6374.121705","type":"ui_template","z":"8a563818.503348","group":"90d65a3a.b70c58","name":"Fleet","order":4,"width":"10","height":"7","format":"<div layout=\"row\" layout-align=\"space-between\">\n<img src=\"/fleet.png\" style = \"width:100%\" />\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":477.20001220703125,"y":113.19999694824219,"wires":[[]]},{"id":"10028725.56d181","type":"ui_template","z":"8a563818.503348","group":"5497e2d8.f0142c","name":"Farm","order":4,"width":"10","height":"7","format":"<div layout=\"row\" layout-align=\"space-between\">\n<img src=\"/farm.png\" style = \"width:100%\"/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":490,"y":160,"wires":[[]]},{"id":"789e6ec5.cb461","type":"mqtt in","z":"c7b7d783.53fee8","name":"","topic":"Agrobot/esp/sensors","qos":"2","broker":"53f9b7c0.af56c8","x":130,"y":120,"wires":[["bd6a69fa.e19638"]]},{"id":"345250b2.4ba7e","type":"function","z":"c7b7d783.53fee8","name":"pressure","func":"msg.payload = msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":160,"wires":[["2ae2ee7d.8087a2"]]},{"id":"2ae2ee7d.8087a2","type":"ui_chart","z":"c7b7d783.53fee8","name":"","group":"77bd1383.76e9fc","order":0,"width":"5","height":"3","label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":780,"y":160,"wires":[[],[]]},{"id":"2e508e23.c7af72","type":"function","z":"c7b7d783.53fee8","name":"compass","func":"xDataLSB = msg.payload.magX;\nyDataLSB = msg.payload.magY;\nyGaussData = yDataLSB*0.48828125;\nxGaussData = xDataLSB*0.48828125;\nif (xGaussData == 0) {\n    D = 90;\n} else {\n    D = Math.atan2(xDataLSB,yDataLSB)*(180/Math.PI);\n}\nmsg.payload = Math.round(D);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["16d7cf96.54bf"]]},{"id":"1162acc6.5b05f3","type":"debug","z":"c7b7d783.53fee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":160,"wires":[]},{"id":"c91b22d6.e1ec8","type":"ui_template","z":"c7b7d783.53fee8","group":"be62ea53.564688","name":"logo","order":1,"width":"5","height":"3","format":"<div layout=\"row\" layout-align=\"space-between\">\n<img src=\"/logo.jpg\" style=\"width:100%;height:auto\"/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":630,"y":480,"wires":[[]]},{"id":"e9eecf6a.aeb98","type":"ui_template","z":"8a563818.503348","group":"edf9eb20.4169a8","name":"logo","order":1,"width":"5","height":"3","format":"<div layout=\"row\" layout-align=\"space-between\">\n<img src=\"/logo.jpg\" style=\"width:100%;height:auto\"/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":350,"y":120,"wires":[[]]},{"id":"6667c5e9.3c865c","type":"function","z":"c7b7d783.53fee8","name":"seeds dropped","func":"\nmsg.payload = Math.round((msg.payload/200)%350+100);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":660,"wires":[["ffe0e7dc.4dc8a8"]]},{"id":"c0eb2c21.7ede","type":"function","z":"c7b7d783.53fee8","name":"3.21","func":"msg.payload = 3.21;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":700,"wires":[["7f9ae4ba.ffc9ec"]]},{"id":"ba713275.1994c","type":"function","z":"c7b7d783.53fee8","name":"battery","func":"msg.payload = parseInt(msg.payload.slice(-3,-1));\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":740,"wires":[["2a7cd028.daba1"]]},{"id":"34701c90.6b5814","type":"function","z":"c7b7d783.53fee8","name":"2.3","func":"msg.payload = 2.3;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":800,"wires":[[]]},{"id":"cc573b7b.31fee8","type":"inject","z":"c7b7d783.53fee8","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["6667c5e9.3c865c","c6cf4e8.58b6bb","bb07d510.2ebae8"]]},{"id":"c6cf4e8.58b6bb","type":"function","z":"c7b7d783.53fee8","name":"fake speed","func":"if(global.get(\"state\") == \"Standing\") {\n    msg.payload = {speed:0.0};\n} else {\n    msg.payload = {speed: Math.random()+3.2};\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["3ed060c8.bb6b"]]},{"id":"894a4d58.18be9","type":"mqtt out","z":"c7b7d783.53fee8","name":"","topic":"Agrobot/esp/input","qos":"","retain":"","broker":"53f9b7c0.af56c8","x":890,"y":920,"wires":[]},{"id":"f23b389b.507b78","type":"ui_button","z":"c7b7d783.53fee8","name":"","group":"39079bd8.6c1f94","order":0,"width":"5","height":"1","passthru":false,"label":"Start seeding","color":"","bgcolor":"","icon":"","payload":"{\"action\":\"start\"}","payloadType":"json","topic":"","x":450,"y":900,"wires":[["e38e642b.eefb68","e3b8502c.dd655","10b23e2b.2df0a2"]]},{"id":"b5019616.632038","type":"ui_button","z":"c7b7d783.53fee8","name":"","group":"39079bd8.6c1f94","order":0,"width":"5","height":"1","passthru":false,"label":"Start driving","color":"","bgcolor":"","icon":"","payload":"{\"action\":\"start\"}","payloadType":"json","topic":"","x":450,"y":940,"wires":[["e38e642b.eefb68","e3b8502c.dd655","10b23e2b.2df0a2"]]},{"id":"a4d6c4d7.eff0f8","type":"ui_button","z":"c7b7d783.53fee8","name":"","group":"39079bd8.6c1f94","order":0,"width":"5","height":"1","passthru":false,"label":"Demonstration","color":"","bgcolor":"","icon":"","payload":"{\"action\":\"start\"}","payloadType":"json","topic":"","x":440,"y":980,"wires":[["e38e642b.eefb68","e3b8502c.dd655","10b23e2b.2df0a2"]]},{"id":"b14c332b.72e58","type":"ui_button","z":"c7b7d783.53fee8","name":"","group":"39079bd8.6c1f94","order":0,"width":"5","height":"1","passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"{\"action\":\"stop\"}","payloadType":"json","topic":"","x":470,"y":1020,"wires":[["e38e642b.eefb68","e3b8502c.dd655","8f73cc7e.bff4c"]]},{"id":"e38e642b.eefb68","type":"json","z":"c7b7d783.53fee8","name":"","property":"payload","action":"","pretty":false,"x":690,"y":920,"wires":[["dbc2e800.1df378"]]},{"id":"16d7cf96.54bf","type":"ui_gauge","z":"c7b7d783.53fee8","name":"","group":"77bd1383.76e9fc","order":0,"width":"5","height":"3","gtype":"compass","title":"Magnet","label":"North","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":320,"wires":[]},{"id":"dbc2e800.1df378","type":"debug","z":"c7b7d783.53fee8","name":"asdf","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":860,"wires":[]},{"id":"e3b8502c.dd655","type":"function","z":"c7b7d783.53fee8","name":"format","func":"if (msg.payload.action == \"start\") {\n    msg.payload = \"Start requested\";\n} else {\n    msg.payload = \"Stop requested\";\n}\nmsg.topic = \"Action\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1000,"wires":[["838296fb.bb0158"]]},{"id":"838296fb.bb0158","type":"ui_toast","z":"c7b7d783.53fee8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":880,"y":1000,"wires":[]},{"id":"10b23e2b.2df0a2","type":"function","z":"c7b7d783.53fee8","name":"drive state","func":"global.set(\"state\",\"Driving\");","outputs":1,"noerr":0,"x":700,"y":1080,"wires":[[]]},{"id":"8f73cc7e.bff4c","type":"function","z":"c7b7d783.53fee8","name":"standing state","func":"global.set(\"state\",\"Standing\");","outputs":1,"noerr":0,"x":710,"y":1140,"wires":[[]]},{"id":"4edb9583.083a0c","type":"json","z":"e0fd0d01.d7888","name":"","property":"payload","action":"","pretty":false,"x":160,"y":280,"wires":[[]]},{"id":"8117887e.2eea38","type":"function","z":"c7b7d783.53fee8","name":"acceleration","func":"xDataLSB = msg.payload.accX;\nyDataLSB = msg.payload.accY;\nzDataLSB = msg.payload.accZ;\nmsg1 = Object.assign({}, msg);\nmsg2 = Object.assign({}, msg);\nmsg3 = Object.assign({}, msg);\nmsg1.topic=\"x\"\nmsg2.topic=\"y\"\nmsg3.topic=\"z\"\n\nmsg1.payload=xDataLSB;\nmsg2.payload=yDataLSB;\nmsg3.payload=zDataLSB;\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":630,"y":360,"wires":[["7deb600b.b4d8d"],["7deb600b.b4d8d"],["7deb600b.b4d8d"]]},{"id":"7deb600b.b4d8d","type":"ui_chart","z":"c7b7d783.53fee8","name":"Acceleration","group":"e06e7df2.46619","order":5,"width":"5","height":"3","label":"Acceleration","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":360,"wires":[[],[]]},{"id":"f439b56b.7f53d8","type":"exec","z":"c7b7d783.53fee8","command":"upower -i /org/freedesktop/UPower/devices/battery_BAT0|grep percentage","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"battery percentage","x":310,"y":440,"wires":[["ba713275.1994c"],["b9d546c2.579018"],[]]},{"id":"b9d546c2.579018","type":"debug","z":"c7b7d783.53fee8","name":"batt debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":500,"y":520,"wires":[]}]