flows_DESKTOP-4596OGN.json
[{"id":"be6f378e.d898e","type":"tab","label":"Agrobot 1","disabled":false,"info":""},{"id":"e5d26fd0.2ea4a8","type":"tab","label":"Fleetmanagement","disabled":false,"info":""},{"id":"cacca542.3c9dc8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c1f53954.355d3","type":"ui_tab","z":"","name":"Fleetmanagement","icon":"class","order":1},{"id":"5de635b0.57f944","type":"ui_tab","z":"","name":"Agrobot 1","icon":"bug_report","order":2},{"id":"a80d7abe.272988","type":"ui_group","name":"Group 1","tab":"c1f53954.355d3","order":1,"disp":true,"width":6},{"id":"d7478d93.023af","type":"ui_group","name":"Group 2","tab":"c1f53954.355d3","order":2,"disp":true,"width":6},{"id":"928ec726.736f58","type":"ui_group","z":"","name":"Robot Visualization","tab":"5de635b0.57f944","order":3,"disp":true,"width":"10","collapse":false},{"id":"1f51e8e4.91f1e7","type":"ui_group","z":"","name":"speed","tab":"5de635b0.57f944","order":5,"disp":true,"width":"6","collapse":false},{"id":"92f9329e.8147b8","type":"mqtt-broker","z":"","name":"mqtt","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7c9bbb47.efd6d4","type":"ui_group","z":"","name":"Environment","tab":"5de635b0.57f944","order":2,"disp":true,"width":"10","collapse":false},{"id":"4ee5409.92193c","type":"ui_group","z":"","name":"Map","tab":"5de635b0.57f944","order":6,"disp":true,"width":"6","collapse":false},{"id":"1fb6c60f.7e8252","type":"ui_group","z":"","name":"Supervision","tab":"5de635b0.57f944","order":4,"disp":true,"width":"6","collapse":false},{"id":"f0a8cb3d.856d6","type":"ui_group","z":"","name":"Status","tab":"5de635b0.57f944","order":7,"disp":true,"width":"6","collapse":false},{"id":"da9e631e.fa7ad","type":"ui_group","z":"","name":"header","tab":"5de635b0.57f944","order":1,"disp":true,"width":"20","collapse":false},{"id":"b3619320.d914b","type":"debug","z":"e5d26fd0.2ea4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":340,"wires":[]},{"id":"ddddf560.644f6","type":"ui_switch","z":"be6f378e.d898e","name":"","label":"switch","group":"a80d7abe.272988","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":850,"y":320,"wires":[[]]},{"id":"cb935fc2.cb79e8","type":"ui_slider","z":"be6f378e.d898e","name":"","label":"slider","group":"a80d7abe.272988","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":10,"step":1,"x":850,"y":380,"wires":[[]]},{"id":"ad9eda04.0def78","type":"ui_colour_picker","z":"be6f378e.d898e","name":"","label":"","group":"d7478d93.023af","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":850,"y":440,"wires":[[]]},{"id":"cb7baa1c.e69eb","type":"ui_gauge","z":"be6f378e.d898e","name":"speed","group":"da9e631e.fa7ad","order":2,"width":"5","height":"3","gtype":"gage","title":"Speed","label":"km/h","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":200,"wires":[]},{"id":"3822fecb.5b5eaa","type":"mqtt in","z":"be6f378e.d898e","name":"","topic":"Agrobot/Sensors","qos":"2","broker":"92f9329e.8147b8","x":150,"y":60,"wires":[["ead4dc39.1e348"]]},{"id":"1e81c93c.39eec7","type":"ui_chart","z":"be6f378e.d898e","name":"Temperature","group":"7c9bbb47.efd6d4","order":0,"width":"5","height":"3","label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":60,"wires":[[],[]],"inputLabels":["timestamp"]},{"id":"ead4dc39.1e348","type":"json","z":"be6f378e.d898e","name":"","property":"payload","action":"","pretty":false,"x":350,"y":60,"wires":[["99cabfe0.4479f8","1eddbc2c.e19a6c","87e1335a.78b82","c395b97f.6920f8","94f27ee7.ff707"]]},{"id":"99cabfe0.4479f8","type":"function","z":"be6f378e.d898e","name":"temperature","func":"msg.payload = msg.payload.temperature;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":60,"wires":[["1e81c93c.39eec7"]]},{"id":"1eddbc2c.e19a6c","type":"function","z":"be6f378e.d898e","name":"humidity","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["514f79fc.7f7cf"]]},{"id":"514f79fc.7f7cf","type":"ui_chart","z":"be6f378e.d898e","name":"Humidity","group":"7c9bbb47.efd6d4","order":0,"width":"5","height":"3","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":120,"wires":[[],[]]},{"id":"87e1335a.78b82","type":"function","z":"be6f378e.d898e","name":"Speed","func":"msg.payload = msg.payload.speed;\nspeed = Math.round(speed*1000)/1000.0;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["cb7baa1c.e69eb"]]},{"id":"71369186.94ea58","type":"ui_text","z":"be6f378e.d898e","group":"f0a8cb3d.856d6","order":0,"width":0,"height":0,"name":"Status","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":770,"y":260,"wires":[]},{"id":"c395b97f.6920f8","type":"function","z":"be6f378e.d898e","name":"status","func":"msg.payload = msg.payload.orientation;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["71369186.94ea58"]]},{"id":"893335fd.ad2e68","type":"ui_gauge","z":"be6f378e.d898e","name":"","group":"da9e631e.fa7ad","order":1,"width":"5","height":"3","gtype":"gage","title":"status","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":420,"wires":[]},{"id":"adb2834e.8b524","type":"ui_gauge","z":"be6f378e.d898e","name":"","group":"da9e631e.fa7ad","order":3,"width":"5","height":"3","gtype":"gage","title":"gauge3","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":460,"wires":[]},{"id":"2c0aaeaa.01e87a","type":"worldmap","z":"be6f378e.d898e","name":"Map","lat":"28.134699","lon":"-15.572897","zoom":"","layer":"UK OS Opendata","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":730,"y":580,"wires":[]},{"id":"94f27ee7.ff707","type":"function","z":"be6f378e.d898e","name":"Position","func":"msg.payload.comand = {\n    name:\"Agrobot 1\", \n    lat:28.134699, \n    lon:-15.572897};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":580,"wires":[["2c0aaeaa.01e87a"]]},{"id":"b1aea9fb.a646f8","type":"ui_template","z":"be6f378e.d898e","group":"da9e631e.fa7ad","name":"Weather data","order":0,"width":"5","height":"3","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <img src=\"/weather.png\" />\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":340,"wires":[[]]},{"id":"aed4d28f.66834","type":"ui_gauge","z":"be6f378e.d898e","name":"","group":"1fb6c60f.7e8252","order":1,"width":"5","height":"3","gtype":"gage","title":"Seeds dropped","label":"","format":"{{68}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":660,"wires":[]},{"id":"4706c2c3.7da80c","type":"ui_gauge","z":"be6f378e.d898e","name":"","group":"1fb6c60f.7e8252","order":2,"width":0,"height":0,"gtype":"gage","title":"Battery level","label":"%","format":"{{89}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":660,"wires":[]},{"id":"1834b6ee.242c19","type":"ui_gauge","z":"be6f378e.d898e","name":"","group":"1fb6c60f.7e8252","order":3,"width":"5","height":"3","gtype":"gage","title":"Distance travelled","label":"metres","format":"{{123}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":720,"wires":[]},{"id":"cf21917a.378ad","type":"ui_gauge","z":"be6f378e.d898e","name":"","group":"1fb6c60f.7e8252","order":4,"width":"5","height":"3","gtype":"gage","title":"Operating time","label":"hours","format":"{{1.5}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":720,"wires":[]}]